In [1]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practice').getOrCreate()
spark

In [5]:
df_pyspark = spark.read.csv('test1.csv',header=True,inferSchema=True)
df_pyspark.show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|   a| 20|        10|  3000|
|   b| 30|         8|  2500|
|   c| 40|         4|  1000|
|   e| 25|         2|  3000|
|   r| 30|         2|  2000|
|   a| 20|         2|  1000|
+----+---+----------+------+

## Groupby

In [4]:
df_pyspark.groupBy('Name').sum().show()

+----+--------+---------------+-----------+
|Name|sum(Age)|sum(Experience)|sum(Salary)|
+----+--------+---------------+-----------+
|   e|      25|              2|       3000|
|   c|      40|              4|       1000|
|   b|      30|              8|       2500|
|   a|      40|             12|       4000|
|   r|      30|              2|       2000|
+----+--------+---------------+-----------+

In [8]:
df_pyspark.groupBy('Name').max().show()

+----+--------+---------------+-----------+
|Name|max(Age)|max(Experience)|max(Salary)|
+----+--------+---------------+-----------+
|   e|      25|              2|       3000|
|   c|      40|              4|       1000|
|   b|      30|              8|       2500|
|   a|      20|             10|       3000|
|   r|      30|              2|       2000|
+----+--------+---------------+-----------+

In [6]:
df_pyspark.groupBy('Name').count().show()

+----+-----+
|Name|count|
+----+-----+
|   e|    1|
|   c|    1|
|   b|    1|
|   a|    2|
|   r|    1|
+----+-----+

In [7]:
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      12500|
+-----------+