In [1]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practice').getOrCreate()
spark

In [2]:
df_pyspark = spark.read.csv('test1.csv',header=True,inferSchema=True)
df_pyspark.show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|   a| 20|        10|  3000|
|   b| 30|         8|  2500|
|   c| 40|         4|  1000|
|   e| 25|         2|  3000|
|   r| 30|         2|  2000|
+----+---+----------+------+

## Filter Operations

In [3]:
#salary of people less than 2500
df_pyspark.filter("Salary<=2500").show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|   b| 30|         8|  2500|
|   c| 40|         4|  1000|
|   r| 30|         2|  2000|
+----+---+----------+------+

In [4]:
df_pyspark.filter("Salary<=2500").select(['Name','Age']).show()

+----+---+
|Name|Age|
+----+---+
|   b| 30|
|   c| 40|
|   r| 30|
+----+---+

In [11]:
df_pyspark.show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|   a| 20|        10|  3000|
|   b| 30|         8|  2500|
|   c| 40|         4|  1000|
|   e| 25|         2|  3000|
|   r| 30|         2|  2000|
+----+---+----------+------+

In [13]:
df_pyspark.filter((df_pyspark["Salary"]<=2500) | (df_pyspark['Salary']>2500)).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|   a| 20|        10|  3000|
|   b| 30|         8|  2500|
|   c| 40|         4|  1000|
|   e| 25|         2|  3000|
|   r| 30|         2|  2000|
+----+---+----------+------+

In [14]:
df_pyspark.filter(~(df_pyspark["Salary"]<=2500)).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|   a| 20|        10|  3000|
|   e| 25|         2|  3000|
+----+---+----------+------+